@import './component/base/base';
@import './component/loading/loading';
@import './component/slider/slider';
@import './component/form/formLogin';
@import './component/antd/admin/navigation/navigation';
@import './component/antd/admin/table/table';
@import './component/antd/admin/modal/modal';
@import './component/button/button';
@import './component/antd/rate/rate';
@import './component/antd/badge/badge';
@import './component/antd/slider/slider';