// Start hoverToShow
.hoverToShow {
    transition: all .7s;

    &:hover .hoverToShow-hide {
        // display: block;
        width: 100%;
        transform: translateX(0);

        svg {
            animation-name: fadeOnLeft;
            animation-duration: .5s;
            animation-timing-function: ease-in-out;
            animation-fill-mode: forwards;
            animation-delay: .3s;
        }
    }

    &:hover {
        box-shadow: 0 0px 10px 5px #3790c7a6;
    }


    .hoverToShow-hide {
        transition: all .5s;
        // display: none;
        transform: translateX(-50px);
        width: 0;
        

        svg {
            position: absolute;
            left: -15%;
            top: 50%;
            transform: translateY(-50%)
        }
    }
}
// End hoverToShow

@keyframes fadeOnLeft {
    from {
        left: -15%;
        transform: translateY(-50%)
    } 
    to {
        left: 50%;
        transform: translate(-50%, -50%);
    }
}