@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    scroll-behavior: smooth;
}

* {
    scroll-behavior: smooth;
}

html {
    scroll-behavior: smooths;
}

.fadeOn {
    animation-name: fadeOn;
    animation-duration: .7s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
}

@keyframes fadeOn {
    from {
        right: -300px;
    }
    to {
        right: 0;
    }
}

.welcome-tarot__content {
    color: #fff;
    font-size: 200px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 80%;
    left: 50%;
  }

.welcome-tarot__content:nth-child(1) {
    color: transparent;
    -webkit-text-stroke: 2px #fff;
  }
  .welcome-tarot__content:nth-child(2) {
    color: #fff;
    animation: animate 3s ease-in-out infinite;
  }
  @media (min-width: 581px) and (max-width: 1023px) {
    .welcome-tarot__content {
      font-size: 150px;
    }
  }
  @media (max-width: 580px) {
    .welcome-tarot__content {
      font-size: 70px;
    }
  }
  @keyframes animate {
    0%, 100% {
      clip-path: polygon(0% 45%, 16% 44%, 33% 50%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
    }
    50% {
      clip-path: polygon(0% 60%, 15% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);
    }
  }
  